<!doctype html>
<html>
{% load staticfiles %}
<head>

    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/js/shared/angular.min.js"></script>
    <script src="/static/js/shared/angular-cookies.js"></script>
    <link href='/static/fonts/font' rel='stylesheet' type='text/css'>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <!-- Modules -->
    <script src="/static/js/app.js"></script>

    <!-- Controllers -->
    <script src="/static/js/controllers/MainController.js"></script>
    <script src="/static/js/modules/ApiService.js"></script>


</head>
<body ng-app="myApp" ng-controller="MainController">
<div class="header">
    <div class="container">
        <h1>Book End</h1>
    </div>
</div>


<div class="main">
    <form role="form" ng-submit="searchBook(book_name)">
        <div class="form-group">
            <label for="email">Search</label>
            <input type="text" class="form-control" id="book_id" placeholder="Enter Key" ng-model="book_name"
                   >
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
    <div class="container" ng-show="products">

        <h1>{$ title $}</h1>

        <h2>{$ promo $}</h2>


        <div ng-repeat="book in products" class="col-md-6">
            <div class="thumbnail">
                <img ng-src="/static/images/{$ book.cover $}">

                <p class="title">{$ book.name $}</p>

                <p class="price">{$ book.price | currency $}</p>

                <p class="date">{$ book.pubdate | date $}</p>

                <div class="rating">
                    <p class="likes" ng-click="plusOne($index)">+ {$ book.likes $} </p>

                    <p class="dislikes" ng-click="minusOne($index)">+{$ book.dislikes$}</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="footer">
    <div class="container">
        <h2>Available for iPhone and Android.</h2>
        <img src="/static/images/app-store.png" width="120px"/>
        <img src="/static/images/google-play.png" width="110px"/>
    </div>
</div>


</body>
</html>
